<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>

   <div class="container">

    Hello everyone It's me Shiv Raj Chimouriya.I'm student from Science faculty currently pursuing my studies at Sanjiwani Higher Secondary School.
    Besides studying I also love web design and web development.
    Listening music,reading books,wandering in Jungle are some of my hobbies.
    I enjoy the combination of art and science.
   </div> 
   <style>

       body{
margin: 0;
padding: 0;
       }
       .container
       {
           height: 100vh;
           width: 100%;
           background-color: greenyellow;
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           display: flex;
           justify-content: center;
           align-items: center;
           text-align: center;
           
       }
   </style>
</body>
</html>