
<nav class="computer">
    <div class="webName">NOTESHARE</div>
    <span class="searchSpan">

        <span class="searchWrap"> <input type="text" name="searchText" id="searchText" class="searchText" /><button
                class="searchBtn" id="searchBtn">
                <i class="fas fa-search"></i>
            </button>
        </span>
        <span class="link"> <a href="/" class="route">Notes </a><a href="/write" class="route">Contribute</a><a
                href="/aboutMe" class="route">About me</a>
        </span>
    </span>
</nav>
